@{
    ViewData["Title"] = "Get to Know Joel";
}
<!--• A separate “Get to Know Joel” page with:
    A link to Quick Wits Comedy (where he performs regularly):
▪ https://www.qwcomedy.com/
o A link to the Baconsale site:
▪ https://baconsale.com/
o This photo that also links to the Baconsale site when clicked:
▪ https://byu.box.com/s/ie6ibeddqm0f6oudp7bc5dyt87zxi2u4
-->
<h1>@ViewData["Title"]</h1>

<p>Here are some ways to get to know Joel:</p>

<ul>
    <li><a href="https://www.qwcomedy.com/">Quick Wits Comedy (where he performs regularly)</a></li>
    <li><a href="https://baconsale.com/">Baconsale site</a></li>
</ul>

<p>Click on the photo below to visit the Baconsale site:</p>
<a href="https://baconsale.com/">
    <img src="~/BaconsaleKate.jpg" alt="Joel's Photo" width="400px">
</a>