@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Movie
<!--Confirm Deleting movies from his collection-->
<h2>Confirm Deletion of Movie: @Model.Title</h2>
<form method="post">
    <input type="hidden" asp-for="MovieId" />
    <a class="btn btn-info" asp-controller="Home" asp-action="MovieList">Cancel</a>
    <button class="btn btn-danger" type="submit">Delete</button>
</form>