@model Movie
@{
    ViewData["Title"] = "Form";
}
<!--One last page with a form to enter movies into the collection. The new movie
form should allow to enter all the information currently contained in the
spreadsheet linked above. -->
<div class="text-center">
    <h1 class="display-4">Enter a Movie into the Collection</h1>

    <form method="post" action="/Movies/Add">

        <!--The “Edited”, “Lent To”, and “Notes” are not required to create a new
        record. All other fields must be entered.-->

        <label asp-for="Category">Category:</label><br>
        <input asp-for="Category" type="text" id="category" name="Category" required /><br>

        <label asp-for="Title">Title:</label><br>
        <input asp-for="Title" type="text" id="title" name="Title" required /><br>

        <label asp-for="Year">Year:</label><br>
        <input asp-for="Year" type="number" id="year" name="Year" required /><br>

        <label asp-for="Director">Director:</label><br>
        <input asp-for="Director" type="text" id="director" name="Director" required /><br>


        <!-- For the Rating field, use a dropdown menu (G, PG, PG-13, R).
        -->
        <label asp-for="Rating">Rating:</label><br>
      
        <select  asp-for="Rating" id="rating" name="Rating" required>
            <option value="G">G</option>
            <option value="PG">PG</option>
            <option value="PG-13">PG-13</option>
            <option value="R">R</option>
        </select><br>
        <!--o For the Edited field, we want that to be a yes /no (true /false) option.-->
        <label asp-for="Edited">Edited:</label>
        <br>
        <select  asp-for="Edited" id="edited" name="Edited" >
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select><br>

        <label asp-for="LentTo">Lent To:</label><br>
        <input  asp-for="LentTo" type="text" id="lentTo" name="LentTo" /><br>

        <!--o Notes should be limited to 25 characters. (#notcoveredinthevideos)-->
        <label asp-for="Notes">Notes (max 25 characters):</label><br>
        <input asp-for="Notes" type="text" id="notes" name="Notes" maxlength="25" /><br>
        <br />
        <input type="submit" value="Submit" />
    </form>
</div>
