@model Application
@{
    ViewData["Title"] = "Form";
}

<div class="text-center">
    <h1 class="display-4">Enter a Movie into the Collection</h1>
    <form method="post" action="/Movies/Add">
        <label asp-for="title">Title:</label><br>
        <input asp-for="title" type="text" id="title" name="Title" required><br>

        <label asp-for="year">Year:</label><br>
        <input asp-for="year" type="number" id="year" name="Year" required><br>

        <label asp-for="director">Director:</label><br>
        <input asp-for="year" type="text" id="director" name="Director" required><br>

        <label asp-for="genre">Genre:</label><br>
        <input asp-for="genre" type="text" id="genre" name="Genre" required><br>

        <label asp-for="rating">Rating:</label><br>
        <select  asp-for="rating" id="rating" name="Rating" required>
            <option value="G">G</option>
            <option value="PG">PG</option>
            <option value="PG-13">PG-13</option>
            <option value="R">R</option>
        </select><br>

        <label asp-for="edited">Edited:</label><br>
        <select  asp-for="edited" id="edited" name="Edited" required>
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select><br>

        <label asp-for="lentTo">Lent To:</label><br>
        <input  asp-for="lentTo" type="text" id="lentTo" name="LentTo"><br>

        <label asp-for="notes">Notes (max 25 characters):</label><br>
        <input asp-for="notes"" type="text" id="notes" name="Notes" maxlength="25"><br>
        <br />
        <input type="submit" value="Submit">
    </form>
</div>
