@model Movie
@{
    ViewData["Title"] = "Form";
}

<div class="text-center">
    <h1 class="display-4">Enter a Movie into the Collection</h1>

    <form method="post" >

        <!--Do not allow a movie to be entered into the database unless has all these required
        fields (Title, Year, Edited, CopiedToPlex). -->

        <input type="hidden" asp-for="MovieId"/>
        <label asp-for="Category">Category:</label><br>
        <select asp-for="CategoryId">
            <option value ="">Select a Category</option>
            @foreach (Category c in ViewBag.Categories)
            {
                <option value="@c.CategoryId">@c.CategoryName</option>
            })
        </select>
        <br />

        <label asp-for="Title">Title:</label><br>
        <input asp-for="Title" type="text" id="title" name="Title" required /><br>

        <label asp-for="Year">Year:</label><br>

        <!--The Year minimum is 1888-->
        <input asp-for="Year" type="number" id="year" name="Year" min="1888" required /><br>

        <label asp-for="Director">Director:</label><br>
        <input asp-for="Director" type="text" id="director" name="Director"  /><br>

        <!-- For the Rating field, use a dropdown menu (G, PG, PG-13, R). -->
        <label asp-for="Rating">Rating:</label><br>
      
        <select  asp-for="Rating" id="rating" name="Rating" >
            <option selected value="">Select a Rating</option>
            <option value="G">G</option>
            <option value="PG">PG</option>
            <option value="PG-13">PG-13</option>
            <option value="R">R</option>
        </select><br>
        <!--o For the Edited field, we want that to be a yes /no (true /false) option.-->
        <label asp-for="Edited">Edited:</label>
        <br>
        <select  asp-for="Edited" id="edited" name="Edited" required>
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select><br>

        <label asp-for="LentTo">Lent To:</label><br>
        <input  asp-for="LentTo" type="text" id="lentTo" name="LentTo" /><br>

        <label asp-for="CopiedToPlex">Copied to Plex:</label><br>
        <select  asp-for="CopiedToPlex" id="copiedToPlex" name="CopiedToPlex" required>
            <option value="true">Yes</option>
            <option value="false">No</option></select><br>

        <!--o Notes should be limited to 25 characters. (#notcoveredinthevideos)-->
        <label asp-for="Notes">Notes (max 25 characters):</label><br>
        <input asp-for="Notes" type="text" id="notes" name="Notes" maxlength="25" /><br>
        <br />
        <button type="submit">Submit Movie</button>
        <div asp-validation-summary="All"></div>
    </form>
</div>
